@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('font/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Caveat';
    src: url('font/Caveat-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color: var(--secondary-color);
    overflow-x: unset;
    width: 100%;
}

:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --yellow-color: #F7C518;
    --blue-color: #3355FF;
    --orange-color: #F87A55;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 72px;
    gap: 24px;
    z-index: 1;
}

.footerCopyright {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 12px;

    img {
        width: 40px;
    }
}

.footerCopyright span {
    font-size: 18px;
    font-weight: 700;
}

.wavingHandFooter {
    position: absolute;
    bottom: calc(100%);
    right: 0;
    width: 24px;
    height: auto;
    margin-bottom: 8px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-40px) rotate(-180deg);
    transform-origin: center center;
    transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    pointer-events: none;
}

.footerLinks {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    gap: 24px;
    margin-bottom: 12px;
    align-items: center;
}

.footerLinks a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    padding: 8px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    transition: color 0.3s ease;

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80px;

        height: 140%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0;

        clip-path: inset(0 100% 0 0);
        transition: opacity 0.3s ease, clip-path 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        pointer-events: none;
    }

    &:hover::after {
        opacity: 0;
    }

    &:nth-child(-n+2):hover::after {
        background-image: url('../img/unterlineJagged.svg');
        background-size: 100px;
        background-position: center;
        width: 100%;
        left: 0;
        transform: translateY(-50%);
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }

    &:nth-child(n+3):hover {
        background-color: var(--blue-color);
        color: var(--secondary-color);
    }

    &:nth-child(n+3):hover .wavingHandFooter {
        opacity: 1;
        visibility: visible;
        transform: translateX(0) rotate(0deg);
    }

}



@media (max-width: 840px) {

    html,
    body {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    html::-webkit-scrollbar,
    body::-webkit-scrollbar {
        display: none;
    }

    footer {
        padding: 12px;
    }

    .footerCopyright {
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .footerLinks {
        grid-template-columns: repeat(6, 1fr);

        gap: 8px;
    }

    .footerLinks a:nth-child(1),
    .footerLinks a:nth-child(2) {
        grid-column: span 3;
        padding: 32px 0;
        margin-bottom: 0px;
    }

    .footerLinks a:nth-child(1) {
        justify-content: flex-start;

        &:hover::after {
            background-position: left;
        }
    }

    .footerLinks a:nth-child(2) {
        justify-content: flex-end;

        &:hover::after {
            background-position: right;
            transform: translateX(-40px) translateY(-50%);
        }
    }

    .footerLinks a:nth-child(n+3) {
        grid-column: span 2;
        padding: 10px 8px;
        font-size: 15px;
        gap: 6px;
    }

}